/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    height: 9px !important;
    width: 9px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: #e4e9f2 !important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    // background-color: #e4e9f2;
    background-color: #35a6ff !important;
  }

  // mozilla
  scrollbar-color: #35a6ff #35a6ff !important;
  scrollbar-width: 9px !important;
  margin: 0;
}

.fx-spacer {
  flex: 1 0 auto;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
	line-height: 28px;
	font-size: 16px;
}
